*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Poppins', sans-serif;
  background:#f4fff4;
  color:#333;
}

header{
  height:100vh;
  background:
  linear-gradient(rgba(0,0,0,0.5),
  rgba(0,0,0,0.5)),
  url('https://images.unsplash.com/photo-1500382017468-9049fed747ef?q=80&w=1600&auto=format&fit=crop');

  background-size:cover;
  background-position:center;
  color:white;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 50px;
  background:rgba(0,0,0,0.4);
}

nav ul{
  display:flex;
  gap:20px;
  list-style:none;
}

nav a{
  color:white;
  text-decoration:none;
  transition:0.3s;
}

nav a:hover{
  color:#8cff66;
}

.hero{
  height:80vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:20px;
}

.hero h2{
  font-size:60px;
  margin-bottom:20px;
}

.hero p{
  font-size:24px;
  margin-bottom:30px;
}

.botao{
  background:#4CAF50;
  color:white;
  padding:15px 35px;
  border-radius:30px;
  text-decoration:none;
  transition:0.3s;
}

.botao:hover{
  background:#2e7d32;
}

section{
  padding:80px 10%;
}

section h2{
  text-align:center;
  margin-bottom:40px;
  color:#2e7d32;
  font-size:40px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.card{
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
}

.galeria{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

.galeria img{
  width:100%;
  height:250px;
  object-fit:cover;
  border-radius:20px;
  transition:0.3s;
}

.galeria img:hover{
  transform:scale(1.05);
}

.videos{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:30px;
}

iframe{
  width:100%;
  height:300px;
  border:none;
  border-radius:20px;
}

.noticias{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
}

.noticia{
  background:white;
  padding:25px;
  border-radius:20px;
  box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.noticia a{
  display:inline-block;
  margin-top:15px;
  color:#2e7d32;
  font-weight:bold;
  text-decoration:none;
}

footer{
  background:#1b5e20;
  color:white;
  text-align:center;
  padding:30px;
}

@media(max-width:768px){

  nav{
    flex-direction:column;
    gap:20px;
  }

  .hero h2{
    font-size:40px;
  }

}
